# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Cose Pesanti\University\III ANNO\Intellij\design-patterns-exercises-lovaion\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/out/
/.idea/